.main {
  color: #ffffff;
  font-size: 0.7rem;
  padding: 25px;

  h1 {
    font-weight: 500;
  }

  .tableHead {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .headButtons {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  .tableContent {
    margin-top: 20px;
    background-color: #2a2d31;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
  }

  .tableItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    border-bottom: 1px solid #373b44;
    cursor: pointer;
    transition: all 0.1s ease;

    &:hover {
      background-color: #373b44;
      border-radius: 10px;
    }

    .itemLeftCol {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
    }

    .imageWrapper {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      background-color: #373b44;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 40px;
        height: 40px;
        border-radius: 100%;
      }
    }

    p {
      font-size: 0.8rem;
      font-weight: bold;
    }

    h6 {
      font-size: 0.8rem;
      text-transform: capitalize;
    }

    .buttons {
      display: flex;
      gap: 5px;
    }
  }
  .refresh {
    width: 40px;
    height: 35px;
  }

  /* ANIMATION */
  .rotate {
    animation: rotation 0.5s linear reverse;
    animation-iteration-count: 2;
    animation-timing-function: ease-out;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
  }
}
