.wrapper {
  height: 50px;
  transition: all 0.1s ease-in-out;
  padding: 0 10px;
}
.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  height: 50px;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.1s ease;
  cursor: pointer;
  svg path {
    transition: all 0.1s ease;
  }
  &:hover {
    background-color: #373b44;
    color: #f0f2f3;
  }
  &:hover svg path {
    background-color: #373b44;
    color: #f0f2f3;
  }

  .label {
    font-size: 0.9rem;
  }
}

.active {
  transition: all 0.1s ease-in-out;
  color: #f0f2f3;
  font-weight: bold;
}

.activeMark {
  border-right: 3px solid #98f0d4;
}
