.main {
  width: 100%;
}

.modalEditOverlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;

  .modalEditContent {
    border: 2px solid rgba(117, 124, 135, 0.3);
    box-shadow: inset rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #2a2d31;
    color: #757c87;
    width: 400px;
    height: 300px;
    z-index: 999;

    animation: fadeIn 0.2s forwards;
  }
}

.btnClose {
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
  color: #757c87;
  transform: translate(350px, -280px);
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: bold;

  cursor: pointer;
  transition: all 0.15s ease;

  &:hover {
    color: #f0f2f3;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
